<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-data-protection"
	version="0.0.1">

	<name>Cordova Data Protection</name>
	<info>Provides ability to detect device encryption/data protection on iOS and Android.</info>

	<engines>
		<engine name="cordova" version=">=6.1.0"/>
	</engines>

	<asset src="www/dataprotection.js" target="js/dataprotection.js"/>

	<js-module src="www/dataprotection.js" name="dataprotection">
		<clobbers target="cordova.plugins.dataprotection" />
	</js-module>

	<platform name="android">
		<source-file src="src/android/CDVDataProtection.java" target-dir="src/au/net/isw/cordova/dataprotection/"/>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="CDVDataProtection">
					<param name="android-package" value="au.net.isw.cordova.dataprotection.CDVDataProtection"/>
			</feature>
		</config-file>

	</platform>

	<platform name="ios">
		<header-file src="src/ios/CDVDataProtection.h" />
		<source-file src="src/ios/CDVDataProtection.m" />
		<config-file target="config.xml" parent="/*">
        <feature name="CDVDataProtection">
            <param name="ios-package" value="CDVDataProtection" />
        </feature>
    </config-file>
	</platform>
</plugin>
